<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
</head>
<body>

<br/><br/>
<a href="/add" class="btn btn-primary btn-lg" role="button">Add a post</a>
<a href="/pictures" class="btn btn-primary btn-lg" role="button">Upload a picture</a>
<table class="container">
    <tr>
        <th>Post Date</th>
        <th>Post by</th>
        <td>Post Subject</td>
    </tr>
    <tr th:each="post:${posts}">
        <td th:text="${post.posteddate}"></td>
        <td th:text="${post.sentby}"></td>
        <td th:text="${post.subject}"></td>
        <td>

            <a th:href="@{/detail/{id}(id=${post.id})}" class="btn btn-primary btn-lg" role="button">Detail</a>
            <a th:href="@{/update/{id}(id=${post.id})}" class="btn btn-primary btn-lg" role="button">Update</a>
            <a th:href="@{/delete/{id}(id=${post.id})}" class="btn btn-primary btn-lg" role="button">Delete</a>
        </td>

    </tr>


<div th:replace="footer:: footer1"></div>
</table>
<br/><br/>
</body>
</html></html>