<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
</head>
<div class="container">
<br/>
<a href="/" class="btn btn-primary btn-lg" role="button">Return to the post area.</a>
<br/><br/>

<p>Please write your message.</p>
<form class="container" action="#"
      th:action="@{/process}"
      th:object="${post}"
      method="post">
    <input type="hidden" th:field="*{id}" />
    Post Date : <input type="text" th:field="*{posteddate}" />
    <span class="error" th:if="${#fields.hasErrors('posteddate')}"
          th:errors="*{posteddate}"></span><br/><br/>
    Sent by : <input type="text" th:field="*{sentby}" />
    <span class="error" th:if="${#fields.hasErrors('sentby')}"
          th:errors="*{sentby}"></span><br/><br/>
    Subject : <input type="text" th:field="*{subject}" />
    <span class="error" th:if="${#fields.hasErrors('subject')}"
          th:errors="*{subject}"></span><br/><br/>
    Message : <textarea class="error" rows="3" th:field="*{content}"/>
    <span class="error" th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}"></span><br/>
    <br/>
    <input type="submit" value="Submit" class="btn btn-primary btn-lg" role="button">

</form>
<br/>
    <a href="/pictures" class="btn btn-primary btn-lg" role="button">Upload a picture</a>
<br/><br/>
<div th:replace="footer:: footer1"></div>
</div>
</body>
</html>